@tailwind base;
@tailwind components;
@tailwind utilities;

.range.range-player::-webkit-slider-runnable-track {
    height: 100%;
    @apply bg-gray-300/70 rounded-none
}

.range.range-player::-moz-range-track {
    height: 100%;
    @apply bg-gray-300/70 rounded-none
}

.btn:not(.btn-ghost):not(.btn-no-uppercase) {
    @apply uppercase;
}
.tooltip.tooltip-config-dialog::before {
    position: absolute;
    left: -18px;
}

.tooltip.tooltip-config-dialog-input::before {
    position: absolute;
    left: -105px;
}

@layer utilities {
    .tooltip.tooltip-config-dialog-md::before {
        position: absolute;
        left: -125px;
    }
}

.collapse-content {
    display: none;
}

.collapse[open] > .collapse-content, .collapse-open > .collapse-content, .collapse:focus:not(.collapse-close) > .collapse-content, .collapse:not(.collapse-close) > input[type="checkbox"]:checked ~ .collapse-content, .collapse:not(.collapse-close) > input[type="radio"]:checked ~ .collapse-content {
    display: initial;
}

@layer base {
    :root:has(:is(.modal-open, .modal:target, .modal-toggle:checked + .modal, .modal[open])) {
      scrollbar-gutter: revert !important;
    }
}
